@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-icon {
    @apply flex flex-auto;
  }

  .header {
    @apply flex flex-row justify-between bg-white drop-shadow-[0_5px_5px_rgba(0,0,0,0.1)] sticky;
  }

  .main-nav {
    @apply flex
    flex-row
    justify-items-center;
  }

  .main-nav-button {
    @apply grid
      flex-col
      justify-items-center

      text-black
      bg-white 
      drop-shadow-[0_3px_3px_rgba(0,0,0,0.1)]
      hover:bg-transparent 
      focus:outline-none 
      focus:ring-4 
      focus:bg-transparent 

      dark:text-white
      dark:bg-transparent 
      dark:hover:bg-transparent 
      dark:focus:bg-transparent

      font-bold
      rounded-lg 
      text-[9px]
      px-2.5 py-2.5 
      text-center 
      m-2;
  }

  .main-tab-hr {
    @apply border-0 h-[1px] bg-A706SlateGrey;
  }

  .footer {
    @apply flex flex-row justify-around bg-white drop-shadow-[0_-5px_5px_rgba(0,0,0,0.1)] max-lg:sticky max-lg:bottom-0;
  }

  .footer-button {
    @apply grid
      flex-col
      justify-items-center


      text-black
      bg-transparent 
      hover:bg-transparent 
      focus:outline-none 
      focus:ring-4 
      focus:bg-transparent 

      dark:text-white
      dark:bg-transparent 
      dark:hover:bg-transparent 
      dark:focus:bg-transparent

      font-bold 
      rounded-lg 
      text-xs
      px-2.5 py-2.5 
      text-center 
      m-2;
  }

  .dark {
    @apply text-A706LightGrey;
  }

  .menubtn {
    @apply bg-A706CheryBlue h-[60px] text-[32px] rounded-2xl mx-[10px] text-A706LightGrey dark:bg-A706DarkGrey2 active:opacity-80;
  }

  .slogan {
    @apply text-[30px] font-bold;
  }

  .faint {
    @apply text-[30px] text-A706Grey2 dark:text-A706LightGrey;
  }

  .Container {
    @apply flex flex-col flex-1 w-screen h-screen min-h-[800px] overflow-x-hidden  min-w-[360px];
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
    background-color: white;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: grey;
  }

  * {
    font-family: "Pretendard-Regular", sans-serif;
    margin: 0;
    padding: 0;
    width: w-scren;
    height: h-screen;
    box-sizing: border-box;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1rem;
    font-weight: 700;
  }

  h5 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  h6 {
    font-size: 0.75rem;
    font-weight: 700;
  }
}
